@import url('fonts/clear-sans.css');
@import "../style/main.css";
@import "../style/buttons.css";
@import "../style/forms.css";


// VARIABLES

@basecolor-lockville: #edb300;
@basecolor: #9b59b6;
@basecolor-lighten: lighten(@basecolor, 35%);
@bgcolor: #34495e;
@fontcolor: desaturate(@bgcolor, 15%);



// MIXINS

.font {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif !important;
}

// Glow mixin

.glow(@color: @basecolor-lighten; @x: 0px; @y: 0px; @rad: 30px; @size: 3px) {
	box-shadow: @x @y @rad @size @color;
}

// Tile backgrounds
.tile-lighten(@increment) {
	background-color: lighten(@basecolor, @increment);
}

.tile-darken(@increment) {
	background-color: darken(@basecolor, @increment);
}

.tile-darken-sat(@increment) {
	background-color: saturate(darken(@basecolor, @increment), @increment);
}




// PURE CSS STYLE OVERRIDES

button {
	font: inherit;
}

.pure-button {
	font-size: 18px;
	.font;
	font-weight: bold;
}

.pure-button-primary {
	background-color: @bgcolor !important;
	&:hover, &:focus, &:active {
		background-color: darken(@bgcolor, 2%) !important;
	}
}




//GENERAL STYLING

html, body {
	color: @fontcolor;
	background-color: lighten(@bgcolor,68%);
}

.visible-xs {
	display:none;
	@media screen and (max-width: 520px) {
		display: inline;
	}
}



//TEXT & HEADER STYLING

//Header

h1.title {
	float: none;
	text-align: center;
}
small {
	font-size: 75%;
}


//Scores

.scores-container div {
	background-color: @bgcolor;
}

//Message

.game-container {
	.message {
		h3 {
			font-size: 32px;
			margin-top:30px;
			@media screen and (max-width: 520px) {
				font-size: 24px;
			}
		}
		p {
			font-size:26px;
			line-height: 1.20;
			@media screen and (max-width: 520px) {
				font-size: 18px;
			}
		}
	}
	.game-won, .game-over {
		background-color: fade(desaturate(@basecolor, 15%), 70%) !important;
	}
}

input.form-control {
	display:block;
	margin:auto !important;
	margin-top: 1em;
}

button.pure-button {
	margin-top: 10px;
}

.lower {
	margin-top: 10px !important;
}




//GRID STYLING

.game-container {
	background-color: @bgcolor;
	margin-top: 10px;
}

.tile {
	&.tile-2 .tile-inner {
		.tile-lighten(50%) !important;
	}
	&.tile-4 .tile-inner {
		.tile-lighten(40%) !important;
	}
	&.tile-8 .tile-inner {
		.tile-lighten(30%) !important;
		color: inherit;
	}
	&.tile-16 .tile-inner {
		.tile-lighten(20%) !important;
	}
	&.tile-32 .tile-inner {
		.tile-lighten(10%) !important;
	}
	&.tile-64 .tile-inner {
		.tile-darken(0%) !important;
	}
	&.tile-128 .tile-inner {
		.tile-darken(3%) !important;
		box-shadow: none !important;
	}
	&.tile-256 .tile-inner {
		.tile-darken(6%) !important;
		box-shadow: none !important;
	}
	&.tile-512 .tile-inner {
		.tile-darken-sat(9%) !important;
		box-shadow: none !important;
	}
	&.tile-1024 .tile-inner {
		background-color: saturate(@basecolor, 20%);
		.glow;		
	}

}